@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	/**/
	.tags
		.container
			justify-content: flex-start 
			flex-wrap: wrap
	.tag 
		margin-right: 17px
		margin-left: 0
	.overlay__content 
		padding: 4.861vw 6.944vw
	.col 
		padding: 2.639vw
	.row 
		margin-left: -2.639vw
		margin-right: -2.639vw
	.overlay__content p 
		margin-bottom: 2.986vw
	.see-projects-wrapper
		top: 40vw
	.portfolio__item 
		width: 42.333vw
		height: 42.333vw
	.image-content 
		padding: 97px 40px
		img 
			width: 17vw
		

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	.overlay__content 
		padding: 4vw 4vw
	.overlay__content p 
		margin-top: 1vw
		font-size: 2vw
	.about-logos 
		img 
			width: 71.76px
			height: 71.76px
			border-radius: 13px
	.onmo 
		background-size: 100%
		padding: 140px 0
	



/* Medium Devices, Desktops */
@media only screen and (max-width : 834px)
	/**/
	.tag 
		font-size: 14px
		margin-bottom: 27px
	.main-title 
		font-size: 32px
	.main-screen 
		padding-top: 38px
		padding-bottom: 76px
	
	.container 
		width: 591px
	.see-projects-wrapper 
		right: 0
	.overlay__row 
		font-size: 15px
	.overlay__content
		padding: 20px 20px	
		p 
			font-size: 14px
			margin-bottom: 10px
	.button
		//height: 5.5vw
		//font-size: 1.8vw
	.col 
		padding: 1.5vw
	.portfolio__item
		height: auto
		//height: 33vw
		.button
			img 
				//width: 2vw
	.social__link
		margin: 0 14px
		img 
			max-height: 30px
	.portfolio 
		padding-bottom: 80px
	.logos__item
		width: 25%
		margin-bottom: 54px
		
			
	.about-logos 
		flex-wrap: wrap
		img 
			margin-bottom: 25px
	.ux__row 
		flex-direction: column
	.ux__text-col 
		width: 100% 
		max-width: 100%
		p 
			margin-bottom: 0
	.us__photo-col
		width: 100% 
		max-width: 100%
		padding-top: 81px 
		padding-bottom: 81px
		img 
			width: 100%
	.photo__text 
		display: none
	.ux-section 
		
		.cs__sub-title 
			display: none
		.cs__title 
			margin-bottom: 40px
	.ux-section .cs__title
		font-weight: 500
	.ux__text-col .ux-item
		margin-bottom: 40px
	.ux__text-col .ux-item:last-child 
		margin-bottom: 0
	.desktop-image 
		display: none
	.image-content 
		padding: 40px 40px
		img 
			width: 13vw

	.takeaways__row 
		flex-direction: column
	.takeaways__col 
		width: 100%
	.takeaways__col-title
		width: 100%
		margin-bottom: 87px
		.cs__sub-title 
			color: #000
	.takeaways__item 
		margin-bottom: 74px
	.takeaways 
		padding-bottom: 50px

	
		 

	
	
	

/* Small Devices, Tablets */
@media only screen and (max-width : 650px)
	/**/
	.see-projects  
		display: none
	.col 
		width: 100%
		padding: 0
	.portfolio 
		padding-top: 0px 
		padding-bottom: 87px
	.overlay__row
		font-size: 5vw
	.overlay__content p
		font-size: 3.8vw
		margin-top: 3vw 
		margin-bottom: 5vw
	.overlay__content 
		padding: 7vw
	.button 
		height: 15vw 
		font-size: 4vw 
		border-radius: 10vw
	.button img
		margin-left: 3vw
		width: 4.5vw
	.portfolio__item 
		width: 100%
		height: 87.692vw
	.logos__item
		width: 50%
		margin-bottom: 34px
	.about-logos__item
		width: 33.33%
		display: flex 
		justify-content: center
	.about-logos__item:first-child 
		width: 50%
		justify-content: flex-end
	.about-logos__item:nth-child(2)
		width: 50%
		justify-content: flex-start
	.about-logos 
		width: 258px
		margin-left: auto 
		margin-right: auto
	.case-studio 
		flex-direction: column-reverse
		padding-top: 0
	.onmo 
		background-color: transparent
		background-position: top right
		padding-top: 53vw
		padding-bottom: 0
		img 
			margin-left: auto 
			margin-right: auto
			display: block
			max-width: 44.267vw
		.container
			background: #F9F9F9
			padding-left: 0 
			padding-right: 0
			width: 100% 
			max-width: 100%
	.onmo__title 
		padding-top: 14.400vw
		padding-bottom: 11.467vw
	.col-containr
		flex-direction: column-reverse
		display: flex
	.section-content--col
		background: #F9F9F9
		padding-bottom: 60px
	.cs__row 
		flex-direction: column
	.cs-col 
		width: 100%
	.section-header 
		padding-top: 81px 
		padding-bottom: 81px
	.cs__title 
		font-size: 20px
	.case-studio 
		.container 
			max-width: 85.600vw
	.cs__sub-title 
		margin-bottom: 13px
	.onmo 
		.container 
			max-width: 100%
	.image 
		.container 
			max-width: 100%
			width: 100%
	.cs__title 
		margin-bottom: 0
	.ux-section 
		.container 
			width: 100% 
			max-width: 100%
		.cs__title
			width: 87.200vw
			max-width: 87.200vw
			margin-left: auto 
			margin-right: auto
	.ux__text-col
		width: 87.200vw
		max-width: 87.200vw
		margin-left: auto 
		margin-right: auto
	.wiframe
		padding-bottom: 70px 
	.image-content 
		flex-direction: column
		align-items: center
		padding-top: 104px 
		padding-bottom: 104px
		img 
			width: 183px
			display: block 
			margin-bottom: 82px 
		img:last-child 
			margin-bottom: 0
	
	

	

	
	
	


/* Small Devices, Tablets */
@media only screen and (max-width : 480px)
	/**/
	body 
		font-size: 16px
	.header 
		.container 
			justify-content: center
	.menu 
		width: 100%
	.tags 
		display: none
	.main-title 
		font-size: 24px
	.main-screen .container 
		max-width: 75.897vw

	.portfolio__item .overlay
		opacity: 1
		transform: scale(1)
		transform: rotateX(180deg)
		backface-visibility: hidden
		transition: all 1s
	.portfolio__image
		backface-visibility: hidden
		transition: all 1s
		position: absolute 
		top: 0
		left: 0

	.col
		width: 87.692vw
		height: 87.692vw
	.row 
		justify-content: center
	.portfolio__item
		position: relative
		perspective: 4000px
		width: 87.692vw
		height: 87.692vw
	.portfolio__item:hover .overlay
		opacity: 1
		transform: rotateX(180deg) scale(1)

	.portfolio__item.active
		.overlay
			transform: rotateX(360deg)
		.portfolio__image
			transform: rotateX(180deg)
	.logos 
		padding-bottom: 30px
	.copy 
		line-height: 1.43
		br 
			display: block
	.footer 
		padding-top: 39px 
		padding-bottom: 62px
	.about 
		padding-top: 52px 
		padding-bottom: 60px
	.about-logos  
		img 
			width: 71.76px
			height: 71.76px
	.mobile-social 
		display: block
		padding-bottom: 110px
	.about .button 
		width: 100%
	



/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	/**/


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/





