@import "vars"
@import "fonts"

//start global style
* 
    box-sizing: border-box
body 
    font-size: 18px 
    font-weight: 400
    padding: 0 
    margin: 0
    font-family: $main-font
    box-sizing: border-box
.container 
    width: 1100px 
    max-width: 90vw
    margin-left: auto 
    margin-right: auto
p 
    margin-top: 0
//end global style

//start header style
.header 
    padding: 16.5px 0
    position: relative
    z-index: 999
    
    .container
        padding-left: 31px 
        padding-right: 31px
        width: 97.778vw
        max-width: 100%
        margin-left: auto 
        margin-right: auto
        display: flex 
        justify-content: flex-end 
        align-items: center
.menu-btn 
    cursor: pointer
.menu-row 
    width: 27px 
    height: 3px 
    border-radius: 30px 
    margin-bottom: 6px
    background: #000
.menu-btn.active 
    .menu-row 
        background: #F89880
.menu 
    background: #F89880
    position: absolute 
    top: 100% 
    right: 0
    width: 331px 
    text-align: center
    padding: 57px 10px
    display: none
.menu__link 
    color: #fff
    margin-bottom: 40px
    display: block
    text-decoration: none
.menu__link:last-child 
    margin-bottom: 0
.menu__link.active,
.menu__link:hover 
    font-weight: 700
//end header style

//start main screen 
.main-screen 
    padding: 90px 0
    padding-bottom: 180px
.main-title 
    font-size: 48px 
    font-weight: 600
    line-height: 1.5
    text-transform: uppercase
//end main screen

.tags
   
    .container
        display: flex 
        flex-wrap: wrap 
        justify-content: space-between
        padding-top: 40px 
.tag 
    font-weight: 400 
    color: #AFAFAF
    margin-bottom: 32px
    margin-left: 6px 
    margin-right: 6px
.see-projects-wrapper
    position: absolute 
    top: 38vh 
    right: 6px
.see-projects    
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    text-decoration: none
    color: #fff
    img 
        height: 34px
.see-project__text 
    transform: rotate(-90deg) translateX(50px)
    font-weight: 600 
    font-size: 12px
    text-transform: uppercase
    color: #fff

//start portfolio style
.portfolio
    padding-top: 25px
    padding-bottom: 199px
.row 
    display: flex 
    justify-content: space-between
    flex-wrap: wrap
    margin-left: -38px 
    margin-right: -38px
.col 
    width: 50%
    padding: 38px
.portfolio__image
    width: 100%
    object-fit: cover 
    object-position: center
.portfolio__item
    object-fit: cover 
    object-position: center
    cursor: pointer
    width: 500px 
    height: 500px 
    max-width: 100%

.portfolio__item
    width: 100%
    position: relative
    overflow: hidden
.portfolio__item:hover .overlay
    opacity: 1
    transform: scale(1)
.overlay
    position: absolute
    background-color: rgba(70, 70, 70, 0.95)
    width: 100%
    height: 100%
    top: 0
    transform: scale(1.3)
    opacity: 0
    transition: transform .4s ease 0s
.overlay__content
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    padding: 84px 102px
    width: 100% 
    height: 100%
    color: #fff
    .button 
        margin-top: 40px
    p 
        line-height: 1.5
        margin-bottom: 43px
.portfolio__item img
    transition: transform .8s ease
.portfolio__item:hover img
    transform: scale(1.1)
.overlay__row
    font-size: 24px 
    line-height: 133%
    span 
        font-weight: 600
.button 
    width: 100% 
    height: 60px
    background: #F89880
    border-radius: 30px
    display: flex 
    justify-content: center 
    align-items: center
    font-size: 16px 
    color: #fff 
    text-transform: uppercase
    font-weight: 600
    text-decoration: none
    img 
        display: block 
        margin-left: 20px
.button--transparent
    background: transparent
    border: 1px solid #FFFFFF
//end portfolio style
.social 
    display: flex 
    justify-content: center
    padding-top: 30px
.social__link 
    text-decoration: none
    display: block 
    margin: 0 18px

//start logos style
.logos
    padding-bottom: 70px
    .container 
        display: flex 
        flex-wrap: wrap
.logos__item
    width: 20%
    display: flex
    justify-content: center
    align-items: center
    margin-bottom: 70px 
    img 
        max-width: 80%

//end logos style

//start footer style
.footer 
    background: #282828
    padding-top: 39px 
    padding-bottom: 82px
    color: #fff
    text-align: center
.footer__link
    font-weight: 600
    font-size: 16px
    color: #fff 
    text-decoration: none
    display: block
    margin-bottom: 15px
    line-height: 1.5
.copy 
    font-weight: 300 
    padding-top: 15px 
    font-size: 14px
    br 
        display: none
//end footer style

//start about style 
.about 
    padding-top: 80px 
    padding-bottom: 116px
    p 
        margin-bottom: 30px
        line-height: 1.5
        padding-top: 0
    p:last-child 
        margin-bottom: 0
.h1 
    font-size: 48px 
    font-weight: normal
    letter-spacing: 0.02em
    text-transform: uppercase
    font-weight: 600
    margin-bottom: 61px
    margin-top: 0
.about__item 
    margin-bottom: 97px
.about__item-title 
    margin-bottom: 27px
    width: 319px 
    max-width: 100%
    font-weight: 700 
    border-bottom: 1px solid #F89880
    padding-bottom: 9px
.about-logos
    padding-top: 40px
.about-logos
    display: flex 
    justify-content: center
    img 
        display: block
        width: 86px 
        height: 86px 
        border-radius: 15px
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
.about-logos__item 
    padding: 0 10px
    
.about 
    .button 
        width: 319px 
        max-width: 100%
        margin-left: auto 
        margin-right: auto
        margin-top: 60px
.about__item:last-child 
    margin-bottom: 0
.mobile-social 
    display: none
//end ablut style

//start case studio style
.case-studio
    display: flex 
    flex-direction: column 
    padding-top: 90px
.cs__sub-title
    color: #FC4C02 
    font-weight: 700
    margin-bottom: 30px
.cs__sub-title--black
    font-weight: 700
    margin-bottom: 30px
.cs__title 
    text-align: center 
    font-size: 48px
    margin-bottom: 72px
    font-weight: 500
.cs__row
    display: flex
    width: 820px 
    max-width: 100% 
    margin-left: auto 
    margin-right: auto
.cs-col 
    width: 50%
    ul
        width: 420px 
        max-width: 100%
    
li 
    line-height: 1.5
.section-content--col 
    padding-bottom: 119px
.onmo 
    padding: 250px 0
    background-color: #F9F9F9
    background-image: url('../img/Onmo_mockup.png')
    background-repeat: no-repeat 
    background-position: right center
.image 
    width: 100%
    padding-bottom: 90px
    img 
        max-width: 100%
.ux-section 
    .cs__title 
        text-align: left
.photo__text 
    text-align: right
.ux__row
    display: flex
    justify-content: space-between
.ux__text-col
    width: 546px
    max-width: 49%
    p 
        line-height: 1.6
        margin-top: 0
        margin-bottom: 40px
.us__photo-col
    width: 508px
    max-width: 50%
    position: relative
    img 
        max-width: 100%
.photo__text
    font-size: 14px 
    font-weight: 600
    padding-top: 10px
    p 
        line-height: 1.6
.us__photo-col--2 
    margin-top: 71px
.semi-bold 
    font-weight: 700
.desktop-image 
    padding: 87px 0
    img 
        max-width: 100%
.left 
    text-align: left
p 
    line-height: 1.6
.wiframe 
    padding-bottom: 87px
.image-content
    background: #161C20
    padding: 97px 95px
    display: flex 
    justify-content: space-between
    img 
        width: 183px
.takeaways__col-title
    width: 280px
.takeaways__row
    display: flex
.takeaways__col
    width: calc( 100% - 280px  )
.takeaways__item
    margin-bottom: 59px
    p 
        margin-bottom: 0 
        margin-top: 0
.takeaways
    padding-bottom: 100px
//end case studio style
.video-1
    position: relative
    padding: 5px
    video 
        width: 221px
.video-2
    position: relative
    padding: 5px
    video 
        width: 221px
.us__photo-col--video
    position: relative
.PlayPauseVideo
    position: absolute 
    top: 0
    left: 0 
    width: 100%
    height: 100%
    display: flex 
    justify-content: center 
    align-items: center
    cursor: pointer
.video-wrapper 
    position: relative  
    width: 509px
    justify-content: center 
    align-items: center
    padding: 70px 10px
    background: #C0BCB9
    max-width: 100%
    display: flex
    min-width: 100%
.case-studio--merck
    .cs__sub-title
        color: #02A6B6
//start green section style
.grey-section
    background: #F3F5F5
    padding-top: 86px 
    padding-bottom: 145px
    .container 
        display: flex 
        justify-content: space-between
.grey-section__image-col
    width: 504px 
    max-width: 50% 
    
    img 
        max-width: 100%
.grey-section__col 
    width: 546px 
    max-width: 48%
    display: flex 
    flex-direction: column 
    justify-content: space-between
.white-section
    padding-top: 128px 
    padding-bottom: 163px
//end green section style
.white-section 
    display: flex 
    flex-direction: column
.graph-img 
    width: 88.750vw
    align-self: flex-end
.takeaways--img
    padding-top: 176px 
    padding-bottom: 176px
.takeaways__img
    display: block 
    margin-left: auto 
    margin-right: auto
    margin-top: 50px
    max-width: 100% 
    width: 343px
//start mora style
.case-studio--mora
    .cs__sub-title
        color: #2C3D73
.case-studio--mora .ux-section
    p 
        margin-bottom: 100px
.image
    img 
        margin-left: auto 
        margin-right: auto
        display: block
.two-image
    padding-bottom: 107px
    .container
        display: flex 
        justify-content: space-between
        img 
            width: 49%
.image-text
    text-align: right
    display: flex 
    justify-content: flex-end
    padding-top: 23px
.image-text__content
    width: 641px
    max-width: 100%
//end mora style
.hi 
    color: #fff

.wrap 
    z-index: 9999
    position: relative
    transform: translateY(-250%)
.btn
    min-width: 47px
    min-height: 47px
    background: #F89880
    background: linear-gradient(90deg, #F89880 0%, #F89880 100%)
    border: none
    border-radius: 1000px
    box-shadow: 0px 0px 24px rgba(#F89880,.64)
    transition: all 0.3s ease-in-out 0s
    cursor: pointer
    outline: none
    position: relative
    width: 47px
    height: 47px
    display: flex
    justify-content: center
    align-items: center
    img 
        width: 15px
.btn::before
    content: ''
    border-radius: 50%
    min-width: 81px
    min-height: 81px
    border: 1px solid #F89880
    box-shadow: 0 0 60px rgba(#F89880, .64)
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    opacity: 0
    transition: all .3s ease-in-out 0s
.load-more 
    width: 251px
    margin-left: auto 
    margin-right: auto
    margin-top: 50px
    cursor: pointer
.portfolio
    .col 
        display: none
    .col:first-child,
    .col:nth-child(2),
    .col:nth-child(3),
    .col:nth-child(4)
        display: block
.portfolio.active
    .col 
        display: block
.social-fix
    position: fixed
    right: 10px 
    top: 40vh
    display: flex
    visibility: hidden
    opacity: 0
    flex-direction: column
    transform: translateY(-50%)
    transition: all 0.5s
    a 
        display: block 
        margin-bottom: 13px
    // a:last-child 
    //     display: none

.social-fix.active
    visibility: visible
    opacity: 1
.main-screen
    overflow-x: hidden
    background-color: #161616
.text > p
    background: linear-gradient(to right,rgb(255, 255, 255) 50%,rgb(37, 37, 37) 50%)
    background-size: 200% 100%
    background-position-x: 100%
    color: transparent
    background-clip: text
    -webkit-background-clip: text
    line-height: 1.5
    margin-bottom: 0
.wrap
    display: flex
    align-items: center
    justify-content: center
.btn:hover
    transform: translateY(-6px)
.btn:hover::before
    opacity: 1
.btn::after
    content: ''
    width: 30px
    height: 30px
    border-radius: 100%
    border: 1px solid #F89880
    position: absolute
    z-index: -1
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    animation: ring 1.5s infinite
.btn:hover::after
    animation: none
    display: none
@keyframes ring
    0%
        width: 30px
        height: 30px
        opacity: 1
    100%
        width: 100px
        height: 100px
        opacity: 0
.to-top
    visibility: hidden
    opacity: 0
    transition: all 0.5s
    .see-projects 
        color: #000
        display: flex
        margin-left: -8px
        height: 200px
        img 
            transform: rotate(180deg)

    .see-project__text 
        color: #000
        transform: rotate(-90deg) translateX(40px)

.to-top.active 
    visibility: visible
    opacity: 1

//start video blue wrapper style
.blue-video-wrapper
    background: #273566
    padding: 123px 90px 123px 90px
    color: #fff
.blue-video-row 
    display: flex
    justify-content: space-between
.blue-video-col--text
    width: 515px
.blue-video__sub-title
    font-size: 18px 
    font-weight: 700
    margin-bottom: 30px
.blue-video__title
    font-weight: 500
    font-size: 36px
    line-height: 144%
    margin-bottom: 60px
.blue-video__text
    font-size: 18px 
    line-height: 156%
.video 
    width: 312px
.video-title
    width: 312px
    font-size: 14.4122px
    line-height: 160%
    text-align: center
    letter-spacing: 0.02em
.blue-video-wrapper--2

    .blue-video-col
        width: 312px
        display: flex 
        align-items: flex-end
        .video-title
            padding-bottom: 15px
            padding-left: 10px 
            padding-right: 10px

.slider-item 
    position: relative  
.slider-wrapper 
    position: relative
    padding-top: 83px
   
.dc 
    position: absolute
    width: 100% 
    display: flex 
    justify-content: center
    align-items: center
    top: 833px
    z-index: 99
.slick-dots 
    list-style: none
    display: flex 
    justify-content: center
    margin-top: 0
    margin-bottom: 0
    //position: absolute 
    top: 750px
    left: 50% 
    //transform: translateX(-50%)
    margin-left: 0 
    padding-left: 0

    li 
        margin: 0 5.5px
        line-height: 1
        width: 12px 
        height: 12px
        box-sizing: border-box
        border-radius: 50%
        border: none
        font-size: 0
        cursor: pointer
        background: #D9D9D9
        padding: 0
        box-sozing: border-box
    button 
        width: 100%
        height: 100%
        font-size: 0 
        border: none
        border-radius: 50%
        
        
    .slick-active 
        button 
           background: #F99F88
.prev 
    margin-right: 17px
    cursor: pointer
.next 
    margin-left: 17px
    cursor: pointer
.cs__row--lg
    width: 100%
    justify-content: space-between
    .cs-col
        width: 45%
.slide-title
    font-size: 44px
    line-height: 150%
.orange 
    color: #FC4C02
.go-home 
    position: fixed 
    top: 143px
    right: 6px
    .see-project__text 
        color: #000
    .social-fix 
        opacity: 1
        visibility: visible
        position: static
        transform: translateY(0) translateX(0)
        height: 230px
    .see-projects 
        transform: translateX(-15%)
//end video blue wrapper style

@import "media"




